<html>
    <body bgcolor=#39FF14>

    <center>
        <h1> PELAYANAN TRANSFUSI DARAH </h1>
    </center>
    <h2>Apa yang dimaksud dengan transfusi darah?</h2>
        <p>Transfusi darah adalah proses pemindahan darah dari seseorang yang sehat (donor) ke orang sakit (resipien), dimana darah yang dipindahkan dapat berupa darah lengkap dan komponen darah.</p>
    <h2>Apa tujuan transfusi darah?</h2>
        <p>transfusi darah dilakukan untuk mengganti darah yang hilang karena pendarahan misalnya pendarahan saat melahirkan, Mengganti kehilangan plasma darah misalnya pada luka bakar, Mencegah dan mengatasi perdarahan karena kekurangan/kelainan komponen darah misalnya pada penderita thalasemia. Pelayanan transfusi darah dilakukan oleh Unit Bank Darah di Rumah Sakit.</p>
    <h2>Apa Manfaat Transfusi Darah?</h2>
        <p>Pemberian transfusi darah diberikan dokter sesuai dengan indikasi medis. Berikut beberapa manfaat transfusi darah :</p>
        <ul>
            <li>Meningkatkan kadar Hb (Hemoglobin) pada keadaan anemia</li>
            <li>Mengganti darah yang hilang karena perdarahan misalnya perdarahan saat melahirkan</li>
            <li>Mengganti kehilangan plasma darah misalnya pada luka bakar</li>
            <li>Mencegah dan mengatasi perdarahan karena kekurangan/kelainan komponen darah misalnya pada penderita thalasemia</li>
        </ul>
    <h2>Apa Resiko Transfusi Darah?</h2>
        <p>Transfusi darah jika dilakukan dengan baik sesuai prosedur jarang mengalami komplikasi. Namun ada beberapa risiko reaksi terkait pemberian transfusi darah yang perlu kita perhatikan yaitu :</p>
        <ul>
            <li>Demam, menggigil</li>
            <li>Alergi, Gatal, kemerahan di kulit</li>
            <li>Infeksi</li>
            <li>Kelebihan cairan</li>
            <li>Kelebihan zat besi</li>
            <li>Sesak nafas</li>
            <li>Sakit kepala</li>
            <li>Cemas, gelisah</li>
            <li>Syok</li>
            <li>Nyeri dada, nyeri punggung</li>
            <li>Penyakit graft versus host</li>
            <li>Reaksi transfusi lambat : antara 24 jam sampai 2 minggu setelah transfusi</li>
        </ul>
        <p>Apabila terjadi salah satu dari reaksi transfusi tersebut maka transfusi akan dihentikan dan dokter akan melakukan penanganan serta pemeriksaan lebih lanjut.</p><br>
    <center>

        <h1> DETECTION DATA BLOOD TRANSFUSION </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> First value :  <input type="text", name='a', placeholder="isi"> <br><br>
            Second value :  <input type="text", name='b', placeholder="isi"> <br><br>
            Third value :  <input type="text", name='c', placeholder="isi"> <br><br>
            Fourth value : <input type="text", name='d', placeholder="isi"> <br><br><br></b>
            <input type="submit" , value='predict' >
        </form>

        <img src='static\blood.jpg' alt="blood" height="242" width="242">
        
    </center>

    </body>
</html>
