<html>
    <body bgcolor=#39FF14>

        <center>

        <h1> DETECTION DATA BLOOD TRANSFUSION </h1><br>
        <p>Pemberian transfusi darah diberikan dokter sesuai dengan indikasi medis. Berikut beberapa manfaat transfusi darah :

Meningkatkan kadar Hb (Hemoglobin) pada keadaan anemia,
Mengganti darah yang hilang karena perdarahan misalnya perdarahan saat melahirkan,
Mengganti kehilangan plasma darah misalnya pada luka bakar,
Mencegah dan mengatasi perdarahan karena kekurangan/kelainan komponen darah misalnya pada penderita thalasemia.</p>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> First value :  <input type="text", name='a', placeholder="isi"> <br><br>
            Second value :  <input type="text", name='b', placeholder="isi"> <br><br>
            Third value :  <input type="text", name='c', placeholder="isi"> <br><br>
            Fourth value : <input type="text", name='d', placeholder="isi"> <br><br><br></b>
            <input type="submit" , value='predict' >
        </form>

        <img src='static\blood.jpg' alt="blood" height="242" width="242">
        
    </center>

    </body>
</html>
